header {
   background: var(--tarefas-bg-color-top);
   backdrop-filter: blur(5px);
   position: sticky;
   top: 0;
   left: 0;
   z-index: 9999;
   padding: 50px 45px 10px; 
}
main {
   margin: 0 45px;
}

mat-card-title {
   font-size: 15px;
}

.btn-finalizar mat-icon.icon-check {
   display: none;
}

.btn-finalizar:hover mat-icon.icon-circle {
   display: none;
}

.btn-finalizar:hover mat-icon.icon-check {
   display: inline-block;
}

footer {
   position: sticky;
   bottom: 0;
   right: 0;
   background: var(--tarefas-bg-color);
   padding: 0 45px;
}

footer form {
   font-size: 17px;
}
