<!-- <div>
   <mat-sidenav-container style="height: 100%;">
      <mat-sidenav mode="side" opened>
         To Do List
         <p>Nome Usuario</p>
         <p>lista 1</p>
         <p>lista 2</p>
         <p>lista 3</p>
      </mat-sidenav>
      <app-sidebar></app-sidebar>
      <mat-sidenav-content>
         Conteudo
         <p>Tarefa 1</p>
         <p>Tarefa 2</p>
         <p>Tarefa 3</p>
      </mat-sidenav-content>
      <app-main></app-main>
   </mat-sidenav-container>
</div> -->
<router-outlet></router-outlet>

