<section>
   <mat-list>
      <mat-list-item *ngFor="let lista of listas" 
            class="lista" [routerLink]="['lista', lista.id]">
         {{ lista.nome }}
      </mat-list-item>
   </mat-list>
</section>
<footer>
   <mat-divider></mat-divider>
   <form [formGroup]="formulario" (ngSubmit)="salvar()" class="w-100">
      <mat-form-field appearance="standard" class="w-100" >
         <mat-label>Nova Lista</mat-label>
         <input matInput [errorStateMatcher]="errorState" formControlName="nome" 
               type="text" placeholder="Insira um nome" autocomplete="off">
         <button type="submit" mat-icon-button matSuffix>
            <mat-icon>playlist_add</mat-icon></button>
      </mat-form-field>
   </form>
</footer>